<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projeto_agpi.Properties.Settings.DB_AGPIConnectionString"
            connectionString="Data Source=ITLNB064A\SQL2017;Initial Catalog=DB_AGPI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>